<nav class="navbar navbar-light bg-primary static-top">
  <div class="container">
      <a class="navbar-brand display 4" href="#!">TeenKetrika</a>
      <div class="collapse navbar-collapse" id="navbarSuportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/addJob" routerLinkActive="active">Publier une offre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/listJobs" routerLinkActive="active" >Listes des offres</a>
          </li>
        </ul>
      </div>
      <a class="btn btn-outline-light" href="#">Connexion</a>
  </div>
</nav>

<section>
  <div class="container mt-5">
    <router-outlet></router-outlet>
  </div>
</section>

