<form class="job-form" autocomplete="off" [formGroup]="JobForm" (ngSubmit)="submitForm()">
  <div class="form-floating mb-3">
    <input class="form-control" type="text" id="entreprise" formControlName="entreprise" placeholder="Nom de l'entreprise" required>
    <label for="entreprise">Entreprise</label>
  </div>
  <div *ngIf="entreprise.invalid && (entreprise.dirty || entreprise.touched)" class="alert alert-danger">
    <div *ngIf="entreprise.errors?.['required']">
      Entreprise is required.
    </div>
  </div>

  <div class="form-floating mb-3">
    <input class="form-control" type="text" id="titre" formControlName="titre" placeholder="Titre de l'offre" required>
    <label for="titre">Titre</label>
  </div>
  <div *ngIf="titre.invalid && (titre.dirty || titre.touched)" class="alert alert-danger">
    <div *ngIf="titre.errors?.['required']">
      Titre is required.
    </div>
    <div *ngIf="titre.errors?.['minlength']">
      Titre must be at least 15 characters long.
    </div>
  </div>

  <div class="form-floating mb-3">
    <select class="form-select" aria-label="typeContrat">
      <option selected>Type de contrat</option>
      <option value="CDI">CDI</option>
      <option value="CDD">CDD</option>
      <option value="Stage">Stage</option>
      <option value="Alternant">Alternant</option>
      <option value="Freelance">Freelance</option>
      <option value="Offshore">Offshore</option>
    </select>
  </div>

  <div class="form-floating mb-3">
    <input class="form-control" type="text" id="tags" formControlName="tags" placeholder="tags" required>
    <label for="tags">Tags</label>
  </div>
  <div *ngIf="tags.invalid && (tags.dirty || tags.touched)" class="alert alert-danger">
    <div *ngIf="tags.errors?.['required']">
      tags is required.
    </div>
  </div>

  <div class="form-floating mb-3">
    <input class="form-control" type="text" id="emailCandidature" formControlName="emailCandidature" placeholder="Adresse d'envoie des candidatures" required>
    <label for="emailCandidature">Email candidature</label>
  </div>
  <div *ngIf="emailCandidature.invalid && (emailCandidature.dirty || emailCandidature.touched)" class="alert alert-danger">
    <div *ngIf="emailCandidature.errors?.['required']">
      Email Candidature is required.
    </div>
    <div *ngIf="emailCandidature.errors?.['email']">
      Adresse invalide
    </div>
  </div>

  <div class="form-floating mb-3">
    <input class="form-control" type="text" id="emailObjet" formControlName="emailObjet" placeholder="Objet de l'email" required>
    <label for="emailObjet">Objet du mail</label>
  </div>
  <div *ngIf="emailObjet.invalid && (emailObjet.dirty || emailObjet.touched)" class="alert alert-danger">
    <div *ngIf="emailObjet.errors?.['required']">
      Email Objet is required.
    </div>
    <div *ngIf="tags.errors?.['minlength']">
      L'objet de l'email must be at least 5 characters long.
    </div>
  </div>

  <div class="form-floating mb-3">
    <input class="form-control" type="text" id="categorie" formControlName="categorie" placeholder="Catégorie de l'emploi" required>
    <label for="categorie">Catégorie</label>
  </div>
  <div *ngIf="categorie.invalid && (categorie.dirty || categorie.touched)" class="alert alert-danger">
    <div *ngIf="categorie.errors?.['required']">
      Categorie is required.
    </div>
  </div>

  <div class="form-floating mb-3">
    <input class="form-control" type="text" id="sousCategorie" formControlName="sousCategorie" placeholder="sousCategorie de l'emploi" required>
    <label for="sousCategorie">SousCategorie</label>
  </div>
  <div *ngIf="sousCategorie.invalid && (sousCategorie.dirty || sousCategorie.touched)" class="alert alert-danger">
    <div *ngIf="sousCategorie.errors?.['required']">
      Sous Categorie is required.
    </div>
  </div>

  <div class="form-floating mb-3">
    <div class="form-floating">
      <textarea class="form-control" placeholder="Description" id="description" required></textarea>
      <label for="description">Description</label>
    </div>
  </div>
  <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert alert-danger">
    <div *ngIf="description.errors?.['required']">
      Description Objet is required.
    </div>
    <div *ngIf="description.errors?.['minlength']">
      Description must be at least 5 characters long.
    </div>
  </div>

  <div class="form-floating mb-3">
    <div class="form-floating">
      <textarea class="form-control" placeholder="" id="mission"></textarea>
      <label for="mission">Mision</label>
    </div>
  </div>

  <div class="form-floating mb-3">
    <div class="form-floating">
      <textarea class="form-control" placeholder="" id="profile"></textarea>
      <label for="profile">Profile recherché</label>
    </div>
  </div>

  <div class="form-floating mb-3">
    <div class="form-floating">
      <textarea class="form-control" placeholder="" id="dossierRequis"></textarea>
      <label for="dossierRequis">Dossier Requis</label>
    </div>
  </div>

  <div class="form-floating mb-3">
    <div class="form-floating">
      <textarea class="form-control" placeholder="" id="details"></textarea>
      <label for="details">Details</label>
    </div>
  </div>

  <div class="form-floating mb-3">
    <input class="form-control" type="text" id="dateCreation" formControlName="dateCreation" placeholder="Date de création de la demande" required>
    <label for="dateCreation">Date de Creation</label>
  </div>
  <div *ngIf="dateCreation.invalid && (dateCreation.dirty || dateCreation.touched)" class="alert alert-danger">
    <div *ngIf="dateCreation.errors?.['required']">
     Date Creation is required.
    </div>
  </div>

  <button class="btn btn-primary" type="submit" [disabled]="JobForm.invalid">Ajouter</button>

</form>
